<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html :: head">
</head>
<body>

<!-- Navbar -->
<navbar  th:if="${login == null}" th:insert="fragments/navbarLoggedOut :: loggedOut"> </navbar>
<navbar  th:unless="${login == null}" th:insert="fragments/navbarLoggedIn :: loggedIn"></navbar>
	<div th:if="${deletado}" ></div>
	<div class="container">
		<br>
		<h2>Eventos cadastrados</h2>
		<a th:href="@{/eventos/form}" class="btn btn-primary">Novo</a>
		<div style="height: 20px"></div>
		<table class="table table-stripped">
			<tr>
				<th>Id</th>
				<th>Descrição</th>
				<th>Local</th>
				<th>Data</th>
				<th>Action<th>
			</tr>
			<tr th:each="evento: ${eventos}">
				<td th:text="${evento.id}"></td>
				<td th:text="${evento.descricao}"></td>
				<td th:text="${evento.local}"></td>
				<td th:text="${evento.data}"></td>
				<td> 
					<div class="btn-group pull-right">
						<a class="btn btn-sm btn-primary" th:href="@{/eventos/edit/{id}(id=${evento.id})}" >Editar</a>
						<a class="delete btn btn-sm btn-danger" th:href="@{/eventos/delete/{id}(id=${evento.id})}">Excluir</a>
					</div>
				</td>
			</tr>
		</table>
	</div>

<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>