<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<div class="container">
		<br>
		<h2>Adicionar uma especialidade</h2>
		<hr>
		<form action="/especialidades" method="POST">
			<div class="form-group">	
			    <label for="nome">Nome</label>
			    <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome da especialidade">
			 </div>
			 <div class="form-group">
			    <label for="descricao">Descricao</label>
			    <input type="text" class="form-control" id="descricao" name="descricao" placeholder="Descricao da especialidade">
			 </div>
			 <button type="submit" class="btn btn-primary">Submit</button>
		</form>
		</div>
	</body>
</html>